<div class="ui-g page-container">
  <div class="ui-sm-8 ui-md-8 card-container">
    <div class="ui-g content-container">
      <div class="ui-g-12 ui-md-4 item-1">
        <div class="ui-g">
          <div class="ui-g-12 ui-md-4 inner">
            Item1
          </div>
          <div class="ui-g-12 ui-md-4 inner">
            Item1
          </div>
          <div class="ui-g-12 ui-md-4 inner">
            Item1
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-4 item-2">
        <div class="ui-g">
          <div class="ui-g-12 ui-md-4 inner">
            Item2
          </div>
          <div class="ui-g-12 ui-md-4 inner">
            Item2
          </div>
          <div class="ui-g-12 ui-md-4 inner">
            Item2
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-md-4 item-3">
        <div class="ui-g">
          <div class="ui-g-12 ui-md-4 inner">
            Item3
          </div>
          <div class="ui-g-12 ui-md-4 inner">
            Item3
          </div>
          <div class="ui-g-12 ui-md-4 inner">
            Item3
          </div>
        </div>
      </div>
    </div>
  </div>
</div>