<div class="ui-g ui-fluid">
    <div class="ui-g-12">
        <p-table [columns]="cols" [value]="personList">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-person let-columns="columns">
                <tr>
                    <td *ngFor="let col of columns">
                        {{person[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<form [formGroup]="personForm" (ngSubmit)="addPerson( personForm.value )">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <input type="text" pInputText formControlName="first" placeholder="First name">
            </div>
        </div>
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <input type="text" pInputText formControlName="last" placeholder="Last name">
            </div>
        </div>
        <div class="ui-g-12 ui-md-4">
            <div class="ui-inputgroup">
                <input type="number" formControlName="age" placeholder="Age">
            </div>
        </div>
    </div>
    <p-button type="submit" label="Add" styleClass="ui-button-info"></p-button>
</form>